<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @artist.fullname %>
</p>

<p>
  <strong>Statment:</strong>
  <%= @artist.statment %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
